@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --primary:rgb(64, 159, 203);
  --primary-1:  #2d73b8;
  --secondary:rgb(85, 81, 112);
  --secondary-1: rgb(119, 117, 129);
  --dark:rgb(6, 1, 18);
  --dark-1:rgb(21, 22, 36);
  --white:rgb(204, 205, 205);
  --padding-sm:10px;
  --padding-lg:1rem;
  --mt-lg:4rem;
  --mt-sm:2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: 'Open Sans', sans-serif;
/* font-family: 'Roboto', sans-serif; */
}

body{
  background: var(--dark);

}

.app_main{
  max-width: 1400px;
  display:grid;
margin: 0 auto;
/* padding:10px; */
padding-top: 12vh;

}
@media screen and (min-width:920px) {
 body .hero,
 body .about,
 body .sales,
 body #roadmap,
 body .why_us,
 body .faq_container,
 body .contact
 {
    padding: 2rem;
  }
}

li{
  list-style:none;
  color:#fff;
  cursor:pointer;
}
a{
  cursor:pointer;
}

.roadmap .heading::before,
.about .heading::before,
.contact .heading::before,.faq_container .heading span::before{
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  left: 0;
  bottom: 3px;
  background: #fff;

}

@media screen and (min-width:780px) {
  .about,.faq,.contact,.why_us,.roadmap,.sales, .hero{
    padding: var(--padding-lg);
  }
}