@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shadows+Into+Light&display=swap');

:root{
  --primary:rgb(64, 159, 203);
  --primary-1:  #2d73b8;
  --secondary:rgb(85, 81, 112);
  --secondary-1: rgb(119, 117, 129);
  --dark:rgb(6, 1, 18);
  --dark-1:rgb(21, 22, 36);
  --white:rgb(204, 205, 205);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    
}

body{
  background: var(--dark);

}

.app_main{
  max-width: 1400px;
  display:grid;
  gap:2rem;
margin: 0 auto;
padding-top: 12vh;
/* width:100%; */
}
@media screen and (min-width:920px) {
 body .homepage,
 body .about,
 body .sales,
 body #roadmap,
 body .why_us,
 body .faq_container,
 body .contact
 {
    padding: 2rem;
  }
}

li{
  list-style:none;
  color:#fff;
  cursor:pointer;
}
a{
  cursor:pointer;
}